body{
    max-width: 375px;
    background-color: hsl(212, 45%, 89%);
    overflow: hidden;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 497px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4%;
    overflow: hidden;
}

img{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    max-width: 288px;
    max-height: 288px;
    border-radius: 8%;
}

.textContainer{
    font-family: 'Outfit', sans-serif;
    max-width: 100%;
    text-align: center;
    padding-top: 22px;
    padding-left: 10%;
    width: 80%;
}

.mainText{
    font-weight: 700;
    font-size: 22px;
}

.childText{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
    padding-top: 5%;
}

.attribution { 
    width: 100%;
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 1440px) {
    .mainText{
        text-shadow: 2px 2px 4px grey;
    }
  }
  