body{
    max-width: 375px;
    background-color: hsl(212, 45%, 89%);
}

main{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 5%;
    padding-top: 5%;
    width: 320px;
    height: 497px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid black;
    border-radius: 4%;

}

img{
    max-width: 288px;
    max-height: 288px;
    border-radius: 4%;
}
.mainText{
    width: 288px;
}
.childText{
    width: 288px;
}





/* footer */
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}